USE [CHUNGKHOAN]
GO
/****** Object:  User [USER1]    Script Date: 09/07/2020 4:33:12 PM ******/
CREATE USER [USER1] FOR LOGIN [USER1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [ND]    Script Date: 09/07/2020 4:33:13 PM ******/
CREATE ROLE [ND]
GO
ALTER ROLE [ND] ADD MEMBER [USER1]
GO
ALTER ROLE [db_owner] ADD MEMBER [USER1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [USER1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [USER1]
GO
ALTER ROLE [db_owner] ADD MEMBER [ND]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ND]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ND]
GO
/****** Object:  StoredProcedure [dbo].[CursorLoaiGD]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CursorLoaiGD]
  @OutCrsr CURSOR VARYING OUTPUT, 
  @macp NVARCHAR( 10), @Ngay NVARCHAR( 50),  @LoaiGD CHAR 
AS
SET DATEFORMAT DMY 
IF (@LoaiGD='M') 
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT DESC, NGAYDAT --giảm
ELSE
  SET @OutCrsr=CURSOR KEYSET FOR 
  SELECT ID, NGAYDAT, SOLUONG, GIADAT FROM LENHDAT 
  WHERE MACP=@macp 
    AND DAY(NGAYDAT)=DAY(@Ngay)AND MONTH(NGAYDAT)= MONTH(@Ngay) AND YEAR(NGAYDAT)=YEAR(@Ngay)  
    AND LOAIGD=@LoaiGD AND SOLUONG >0  
    ORDER BY GIADAT, NGAYDAT 
OPEN @OutCrsr


--EXEC SP_KHOPLENH_LO @macp='ACS', @Ngay='29-03-2020', @LoaiGD='B', @soluongMB='2700',@giadatMB= 10200

GO
/****** Object:  StoredProcedure [dbo].[SP_BANGGIATRUCTUYEN]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_BANGGIATRUCTUYEN]

AS
BEGIN
	SELECT dbo.BANGGIATRUCTUYEN.MACP,dbo.BANGGIATRUCTUYEN.Gia2,dbo.BANGGIATRUCTUYEN.KL2,dbo.BANGGIATRUCTUYEN.Gia1,
	dbo.BANGGIATRUCTUYEN.KL1,dbo.BANGGIATRUCTUYEN.GiaKhop,dbo.BANGGIATRUCTUYEN.KLKhop,dbo.BANGGIATRUCTUYEN.Gia1b,
	dbo.BANGGIATRUCTUYEN.KL1b,dbo.BANGGIATRUCTUYEN.Gia2b,dbo.BANGGIATRUCTUYEN.KL2b FROM dbo.BANGGIATRUCTUYEN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 SELECT USERNAME = @TENUSER, 
   NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
               WHERE MEMBERUID= (SELECT UID FROM 						sys.sysusers  WHERE NAME=@TENUSER))

GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_DELETE]
AS
BEGIN
	DELETE FROM BANGGIATRUCTUYEN
END

GO
/****** Object:  StoredProcedure [dbo].[SP_KHOPLENH_LO]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KHOPLENH_LO]
 @macp NVARCHAR( 10), @Ngay NVARCHAR( 50),  @LoaiGD CHAR, 
 @soluongMB INT, @giadatMB FLOAT
AS
SET DATEFORMAT DMY
DECLARE @CrsrVar CURSOR, @idlenhdat int, @ngaydat NVARCHAR( 50), @soluong INT, @giadat FLOAT,  @soluongkhop INT, @giakhop FLOAT,@TONG INT
SET @TONG = 0
 IF (@LoaiGD='B')
   EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'M'
 ELSE 
  EXEC CursorLoaiGD  @CrsrVar OUTPUT, @macp,@Ngay, 'B'
  
FETCH NEXT FROM @CrsrVar  INTO  @idlenhdat, @ngaydat , @soluong , @giadat 
SELECT @ngaydat , @soluong , @giadat
WHILE (@@FETCH_STATUS <> -1 AND @soluongMB >0)
BEGIN

 IF  (@LoaiGD='B' )
   IF  (@giadatMB <= @giadat)
	   BEGIN
		 IF @soluongMB >= @soluong
			 BEGIN
			   SET @soluongkhop = @soluong
			   SET @giakhop = @giadat
			   SET @soluongMB = @soluongMB - @soluong
			   UPDATE dbo.LENHDAT  SET SOLUONG = 0, TRANGTHAILENH = N'Khớp hết'	 WHERE CURRENT OF @CrsrVar
			 END
		 ELSE
			 BEGIN
			   SET @soluongkhop = @soluongMB
			   SET @giakhop = @giadat
       
			   UPDATE dbo.LENHDAT  SET SOLUONG = SOLUONG - @soluongMB, TRANGTHAILENH = N'Khớp 1 phần'
																			WHERE CURRENT OF @CrsrVar
			   SET @soluongMB = 0
			 END

		SELECT  @soluongkhop, @giakhop

		 -- Cập nhật table LENHKHOP
		 INSERT INTO dbo.LENHKHOP (NGAYKHOP, SOLUONGKHOP, GIAKHOP, IDLENHDAT) 
					VALUES ( CURRENT_TIMESTAMP, @soluongkhop, @giakhop, @idlenhdat)
		SET @TONG = @TONG + @soluongkhop
		END
     ELSE
        GOTO THOAT


     -- Còn Trường hợp lệnh gởi vào là lệnh mua
 ELSE	--LỆNH MUA
	 IF  (@giadatMB >= @giadat)
		BEGIN
			IF @soluongMB >= @soluong
				BEGIN
					SET @soluongkhop = @soluong
					SET @giakhop = @giadat
					SET @soluongMB = @soluongMB - @soluong
					UPDATE dbo.LENHDAT  
						SET SOLUONG = 0, TRANGTHAILENH = N'Khớp hết'
						WHERE CURRENT OF @CrsrVar
				END
			 ELSE
				 BEGIN
				   SET @soluongkhop = @soluongMB
				   SET @giakhop = @giadat
       
				   UPDATE dbo.LENHDAT  
					 SET SOLUONG = SOLUONG - @soluongMB, TRANGTHAILENH = N'Khớp 1 phần'
					 WHERE CURRENT OF @CrsrVar
				   SET @soluongMB = 0
				 END

			SELECT  @soluongkhop, @giakhop

			-- Cập nhật table LENHKHOP
			INSERT INTO dbo.LENHKHOP (NGAYKHOP, SOLUONGKHOP, GIAKHOP, IDLENHDAT) 
					VALUES ( CURRENT_TIMESTAMP, @soluongkhop, @giakhop, @idlenhdat)
			SET @TONG = @TONG + @soluongkhop
		END
	ELSE
        GOTO THOAT

   FETCH NEXT FROM @CrsrVar INTO  @idlenhdat, @ngaydat , @soluong , @giadat
END
THOAT:
	IF(@soluongMB>0)
	BEGIN
		INSERT INTO LENHDAT(MACP,NGAYDAT,LOAIGD,LOAILENH,SOLUONG,GIADAT,TRANGTHAILENH) VALUES(@macp,CURRENT_TIMESTAMP,
		@LoaiGD,'LO',@soluongMB,@giadatMB,N'Chờ khớp')
	END
	INSERT INTO dbo.TONGKHOP (TONG,NGAY) VALUES (@TONG,CURRENT_TIMESTAMP)
    CLOSE @CrsrVar
    DEALLOCATE @CrsrVar


	--MUA
/*USE [CHUNGKHOAN]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[SP_KHOPLENH_LO]
		@macp = N'ABI',
		@Ngay = N'2-04-2020',
		@LoaiGD = N'M',
		@soluongMB = 2700,
		@giadatMB = 10100

SELECT	'Return Value' = @return_value

GO*/

--BÁN 
/*USE [CHUNGKHOAN]
GO

DECLARE	@return_value int

EXEC	@return_value = [dbo].[SP_KHOPLENH_LO]
		@macp = N'ACB',
		@Ngay = N'29-03-2020',
		@LoaiGD = N'B',
		@soluongMB = 2700,
		@giadatMB = 9200

SELECT	'Return Value' = @return_value

GO*/

GO
/****** Object:  StoredProcedure [dbo].[SP_LoadCoPhieu]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LoadCoPhieu]

AS
BEGIN
	SELECT   dbo.LENHDAT.ID, dbo.LENHDAT.MACP, dbo.LENHDAT.NGAYDAT,dbo.LENHDAT.LOAIGD,dbo.LENHDAT.LOAILENH,dbo.LENHDAT.SOLUONG,
	dbo.LENHDAT.GIADAT,dbo.LENHDAT.TRANGTHAILENH  from dbo.LENHDAT
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LoadCP]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LoadCP]
	 @MACP NVARCHAR(10)
AS
BEGIN
	SELECT * FROM LENHDAT WHERE @MACP = MACP
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LoadMaCP]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_LoadMaCP]

AS
BEGIN
	SELECT DISTINCT MACP FROM LENHDAT
END

GO
/****** Object:  StoredProcedure [dbo].[SP_Reset]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_Reset] 

AS
BEGIN
	DECLARE @NGAY DATETIME,@MACP CHAR(7)
	SELECT @NGAY = CURRENT_TIMESTAMP
	SELECT @MACP=BANGGIATRUCTUYEN.MACP FROM LENHDAT,BANGGIATRUCTUYEN WHERE ((CONVERT(DATETIME,NGAYDAT,103)!=CONVERT(DATETIME,@NGAY,103)) AND (BANGGIATRUCTUYEN.MACP=LENHDAT.MACP))
	DELETE FROM BANGGIATRUCTUYEN WHERE MACP=@MACP 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TONGSOLUONGKHOP]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_TONGSOLUONGKHOP]
AS
BEGIN
	DECLARE @NGAY DATETIME
	 SELECT @NGAY = MAX(NGAY) FROM TONGKHOP
	 SELECT STR(TONG) FROM TONGKHOP WHERE @NGAY=NGAY
END

GO
/****** Object:  Table [dbo].[BANGGIATRUCTUYEN]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGGIATRUCTUYEN](
	[MACP] [char](7) NULL,
	[Gia2] [float] NULL,
	[KL2] [int] NULL,
	[Gia1] [float] NULL,
	[KL1] [int] NULL,
	[GiaKhop] [float] NULL,
	[KLKhop] [int] NULL,
	[Gia1b] [float] NULL,
	[KL1b] [int] NULL,
	[Gia2b] [float] NULL,
	[KL2b] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [char](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TONGKHOP]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONGKHOP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TONG] [int] NOT NULL,
	[NGAY] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[FS1]    Script Date: 09/07/2020 4:33:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[FS1]
(	
	@NGAY DATETIME
)
RETURNS TABLE 
AS
RETURN 
(
		
		SELECT TOP 2 dbo.LENHKHOP.GIAKHOP,dbo.LENHKHOP.SOLUONGKHOP,dbo.LENHDAT.MACP FROM dbo.LENHKHOP,dbo.LENHDAT WHERE dbo.LENHDAT.LOAIGD='B' AND CONVERT(NVARCHAR,dbo.LENHKHOP.NGAYKHOP,103)= CONVERT(NVARCHAR,@NGAY,103) AND dbo.LENHDAT.ID = dbo.LENHKHOP.IDLENHDAT ORDER BY dbo.LENHKHOP.GIAKHOP DESC
)

GO
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [Gia2], [KL2], [Gia1], [KL1], [GiaKhop], [KLKhop], [Gia1b], [KL1b], [Gia2b], [KL2b]) VALUES (N'ACB    ', 1000, 500, 1500, 0, 1000, 500, 0, 0, 0, 0)
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [Gia2], [KL2], [Gia1], [KL1], [GiaKhop], [KLKhop], [Gia1b], [KL1b], [Gia2b], [KL2b]) VALUES (N'ADC    ', 0, 0, 9500, 1000, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (401, N'ACB    ', CAST(0x0000ABD40127C824 AS DateTime), N'M', N'LO        ', 0, 1000, N'Khớp hết')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (402, N'ACB    ', CAST(0x0000ABD40128173A AS DateTime), N'M', N'LO        ', 500, 1000, N'Khớp 1 phần')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (403, N'ACB    ', CAST(0x0000ABD401282C23 AS DateTime), N'M', N'LO        ', 0, 1500, N'Khớp hết')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
SET IDENTITY_INSERT [dbo].[LENHKHOP] ON 

INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (243, CAST(0x0000ABD401285ED7 AS DateTime), 1000, 1500, 403)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (244, CAST(0x0000ABD401285ED8 AS DateTime), 1000, 1000, 401)
INSERT [dbo].[LENHKHOP] ([IDKHOP], [NGAYKHOP], [SOLUONGKHOP], [GIAKHOP], [IDLENHDAT]) VALUES (245, CAST(0x0000ABD401285EDA AS DateTime), 500, 1000, 402)
SET IDENTITY_INSERT [dbo].[LENHKHOP] OFF
SET IDENTITY_INSERT [dbo].[TONGKHOP] ON 

INSERT [dbo].[TONGKHOP] ([ID], [TONG], [NGAY]) VALUES (75, 1000, CAST(0x0000ABD0011C0546 AS DateTime))
INSERT [dbo].[TONGKHOP] ([ID], [TONG], [NGAY]) VALUES (76, 0, CAST(0x0000ABD0012C870F AS DateTime))
INSERT [dbo].[TONGKHOP] ([ID], [TONG], [NGAY]) VALUES (77, 1000, CAST(0x0000ABD0012CAF9C AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TONGKHOP] OFF
ALTER TABLE [dbo].[LENHDAT] ADD  CONSTRAINT [DF_LENHDAT_TRANGTHAILENH]  DEFAULT (N'Chờ khớp') FOR [TRANGTHAILENH]
GO
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'LENHDAT', @level2type=N'COLUMN',@level2name=N'TRANGTHAILENH'
GO
