<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COPHIEU.Properties.Settings.CHUNGKHOANConnectionString"
            connectionString="Data Source=DESKTOP-8CKAIU0;Initial Catalog=CHUNGKHOAN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>